@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.App {
  text-align: center;
  background-color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 3rem;
  color: #61dafb;
}
.myCommunityLogo {
  background-image: url("./images/my_community_logo_new.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 265px;
  height: 204px;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: #f8e9d6;
  width: 500px;
  border: 2px solid #7c795d;
  margin: 20px;
  padding: 57px;
}
.form1 {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 26%;
}

.myCommunityLogin {
  display: flex;
  background-image: url("./images/login.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  /* min-height: 13vh; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 400px;
  border: 2px solid #7c795d;
  margin: 20px;
  padding: 57px;
}
.connect {
  display: flex;
  color: #b2b445;
  text-decoration: none;
  font-size: 17px;
  justify-content: right;
  align-items: baseline;
}
.fullForm {
  display: flex;
  flex-direction: row;
  height: 380px;
  margin-top: 35px;
}
.squreOpen {
  display: flex;
  flex-direction: row;
  height: 200px;
}
.mainLogo {
  background-image: url("./images/kedron.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #282c34;
  min-height: 42vh;
  justify-content: flex-start;
}
div.menu {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 27%;
  align-items: baseline;
  margin-top: 57px;
  margin-left: 173px;
}
.menuLink {
  padding-right: 18px;
  color: #5e718b;
  text-decoration: none;
  font-size: 17px;
  font-family: serif;
}
.pattern {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #282c34;
  min-height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #cef0d4;
  font-family: "Rouge Script", cursive;
  font-size: 60px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

h2 {
  color: #a7e8f8;
  font-family: "Julius Sans One", sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  margin: 0 0 24px;
  text-shadow: 1px 1px 1px #082b34;
}

p {
  color: #ffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  line-height: 32px;
}
a {
  color: #cef0d4;
  text-decoration: underline;
}

a:hover {
  color: #a7e8f8;
  text-decoration: underline;
}

h1 {
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0px;
  padding-top: 18px;
  padding-bottom: 18px;
}

h2 {
  color: #7c795d;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 24px;
}

.subheader {
  font-size: 26px;
  font-weight: 300;
  color: #ffcc66;
  margin: 0 0 24px;
}

a:hover {
  color: #3d3e3d;
}

.Buissness_card {
  background-color: #fefad7;
  border: 1px solid #7c795d;
  width: 70%;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #fefad7;
  color: #7c795d;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 65%;
}
.container {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #e1a55d;
}
.table_hight {
  height: 582px;
}
.container_table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 89%;
  height: 320px;
  margin: 4% 5% 0% 7%;
}
.workshops {
  width: 23%;
  margin-left: 5px;
  margin-right: 5px;
  height: 87%;
}
.blue {
  background-color: #5e718b;
  height: 80%;
}
.p_workshop {
  color: #5e718b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  line-height: 32px;
  margin: 12px 0 14px;
}
.blue_sport {
  height: 80%;
  background-image: url("./images/sport.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blue_workshops {
  height: 80%;
  background-image: url("./images/workshop.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blue_family {
  height: 80%;
  background-image: url("./images/family.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blue_duble {
  height: 80%;
  background-image: url("./images/duble.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blue_friends {
  height: 80%;
  background-image: url("./images/friends.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blue_food {
  height: 80%;
  background-image: url("./images/food.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blue_nature {
  height: 80%;
  background-image: url("./images/nature.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.blue_kids {
  height: 80%;
  background-image: url("./images/kids.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.header {
  border-top: 1px solid #e1a55d;
}
.p_header {
  color: #5e718b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  line-height: 32px;
  margin: 12px 0 14px;
}
.link {
  color: #5e718b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bullelements {
  font-size: 1rem;
}
.link_p {
  color: #5e718b;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.header_with_logo {
  display: flex;
  flex-direction: row;
}
.myCommunityLogo_small {
  background-image: url("./images/my_community_logo_new.jpg");
  background-repeat: no-repeat;
  background-size: 92%;
  min-height: 12vh;
  width: 95px;
  margin-left: 33%;
}
.squre {
  width: 100%;
  height: 300px;
}
.about {
  width: 40%;
  height: 500px;
  background-color: #e1a55d;
  margin-left: 406px;
}
.logo1 {
  background-image: url("./images/my_community_logo_new.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 265px;
  min-height: 54vh;
  margin-left: 583px;
  margin-top: 30px;
}
.borderForm {
  border: 2px solid #e1a55d;
  border-radius: 5px;
  width: 70%;
  height: 700px;
}
.contextForm {
  margin: 10px 0 0 225px;
}
.allcontact {
  display: flex;
  width: 100%;
  height: 165px;
}
.formBorder {
  flex-flow: column wrap;
}
.myCommunityLogo3 {
  background-image: url("./images/my_community_logo_new.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 229px;
}

.betweenForm {
  padding: 10px 0 0 0;
}
.p3 {
  color: #5e718b;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  line-height: 23px;
}
.h11 {
  font-size: 3rem;
  color: #e1a55d;
  font-family: "Rouge Script", cursive;
  margin: 0px;
  padding-top: 18px;
}
.input {
  border: none;
  border-bottom: 1px solid #e1a55d;
  width: 100%;
  margin: 5px 0 5px 0;
}
.select {
  border: 1px solid #e1a55d;
  width: 100%;
  margin: 5px 0 5px 0;
}
.textarea {
  border: 1px solid #e1a55d;
  width: 100%;
  height: 200px;
  margin: 5px 0 5px 0;
}
.find_activity {
  margin: 31px 0 0 0;
}

.formBox {
  width: 50%;
  margin-left: 32%;
  margin-top: 3%;
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
}
.carousel-container {
  width: 80%;
  margin: 0 auto;
}

.carusel_big_div {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Optional: adds space between the child divs */
  gap: 10px; /* Optional: adds gap between the divs */
  width: 100%; /* Ensure the parent container takes up full width */
  max-width: 100%; /* Prevent overflow */
  border: 1px solid blueviolet;
}

.carusel_left_div {
  flex: 1; /* Makes both divs take equal space */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-image: url("./images/vector1.jpg");
  background-repeat: no-repeat;
}

.carusel_right_div {
  flex: 1; /* Makes both divs take equal space */
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #e1a55d;
}

.down_review {
  padding-top: 10px;
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Optional: adds space between the child divs */
  gap: 10px; /* Optional: adds gap between the divs */
  width: 100%; /* Ensure the parent container takes up full width */
  max-width: 100%; /* Prevent overflow */
}

.no-underline {
  text-decoration: none;
  color: blue;
}

button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #e1a55d;
}
.bigContainer {
  width: 100%; /* Ensure the parent container takes up full width */
  max-width: 100%;
}

.card {
  background-color: white;
  width: 85%;
  height: 63%;
  margin: 55px;
  margin-top: 64px;
  padding-top: 70px;
}
.cardWords {
  margin: 8px 0 3px 0;
  font-size: 21px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bigbuttonContainer {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 50%;
  margin-left: 27%;
  background-color: #f8e9d6;
  margin-top: 59px;
}
.buttonContainer {
  width: 50%;
  align-content: space-around;
}
.space {
  margin-right: 25px;
}
.rightPic {
  background-image: url("./images/friends.jpeg");
  width: 50%;
  background-repeat: no-repeat;
  margin-top: 7%;
  height: 197px;
}
.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
