.App {
  text-align: center;
  background-color: #F8E9D6;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1{
  font-size: 3rem;
  color: #61dafb;
}
.myCommunityLogo{
  background-image: url("./images/my_community_logo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 265px
}
.form{
  display: flex;
  flex-direction: column;
  background-color: #F8E9D6;
  width: 500px;
  border: 2px solid #7C795D;
  margin: 20px;
  padding: 57px;
}
.form1{
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 26%;
}

.myCommunityLogin{
  display: flex;
  background-image: url("./images/login.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  /* min-height: 13vh; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 400px;
  border: 2px solid #7C795D;
  margin: 20px;
  padding: 57px;
}
.fullForm{
  display: flex;
  flex-direction: row;
  height: 380px;
  margin-top: 35px;
}
.squreOpen{
  display: flex;
  flex-direction: row;
}
.mainLogo{
  background-image: url("./images/kedron.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #282c34;
  min-height: 42vh;
  justify-content: flex-start;
}
 div.menu{
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  align-items:center;

} 
.menuLink{
  padding-right:18px;
  color: #B2B445;
  text-decoration: none;
  font-size: 17px;
}
.pattern{
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #282c34;
  min-height: 42vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* h1 { color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 60px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34; }


h2 { color: #a7e8f8; font-family: 'Julius Sans One', sans-serif; font-size: 22px; font-weight: bold; line-height: 32px; margin: 0 0 24px; text-shadow: 1px 1px 1px #082b34; }


p { color: #FFFFFF; font-family: 'Carme', sans-serif; font-size: 16px; line-height: 24px; margin: 0 0 24px; }


a { color: #CEF0D4; text-decoration: underline; }


a:hover { color: #a7e8f8; text-decoration: underline; } */

h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0px;  padding-top: 18px; padding-bottom: 18px;}


h2 { color: #7c795d; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 24px; }


.subheader { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 24px; }


p { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px; }

a:hover { color: #3D3E3D }

.Buissness_card{
  background-color: #FEFAD7;
  border: 1px solid #7c795d;
  width: 70%;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-color: #FEFAD7;
  color: #7c795d;
  border: none;
}
form{    display: flex;
  flex-direction: column;
  text-align: left;
  width: 65%;
}